<form class="addItemForm">
    <div class="addItem">
        <input type="text" name="John" placeholder = "What do you need to do?">
    </div>
    <button>+</button>
</form>
<ul>
    <% data.each(function(l){ %>
        <li cid="<%= l.cid %>" class= "<%= l.get('taskdone') ? 'taskdone' : '' %>" >
            <span class="data"><%= l.get('title') %></span>
            <div class="taskdone">
            <input type="checkbox" name="taskdone" <% if(l.get("taskdone")){ %> "checked='checked'" <% } %> >
            </div>
            <div class = "grid grid-4-600">
            <span>
            <label for="urgentid<%= l.cid %>">Urgent</label>
            </span>
            <span>
            <input type="checkbox" name="urgent" id="urgentid" >
            </span>
            <span>
            <input type="text" name="extra" placeholder="notes">
            </span>
            <span>
            <input type="date" name="due date" placeholder="Due Date">
            </span>
            </div>
        </li>
    <% }) %>
</ul>